@import "compass";
@import "compass/css3/user-interface";

$text_color: #444;
$text_color_inverse: #fff;
$text_color_inverse_alt: #e6fafc;
$text_color_2: #ccc;
$background_color: #f0f0f0;
$shine_color: #ccc;
$alert_color: #da4b3e;
$alert_color_background: #fff0f0;
$success_color_background: #e5ffea;
$success_color_background_2: #aaffaa;
$color: #328d99;
$color_alt: #3799a6;
$color_alt_2: #3ba5b3;
$line_color: #ccc;

